<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bobo520.newsreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
     icon 改成 ic_launcher1 是因为导入的依赖:FlycoTabLayout很可能是忘记从库中删除的通用Android图标
    导致我的apk包 再下载好后安装之前launcher不是我的launcher图
    -->
    <application
        android:name=".app.NewsReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".app.DownloadIntentService"
            android:exported="false" />

        <activity android:name=".app.AdDetailActivity" />
        <activity android:name=".app.HomeActivity" />
        <!-- theme属性是解决划动关闭activity 时屏幕黑屏的问题（我倒没有遇到黑屏的情况） -->
        <activity
            android:name=".news.controller.activity.NewsDetailActivity"
            android:theme="@style/SwipeBackActivityTheme" />
        <activity android:name=".news.controller.activity.ShowPicActivity" />
        <activity android:name=".news.controller.activity.KeyboardManActivity"></activity>
    </application>

</manifest>